.delivery {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.delivery-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 25%;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.delivery-title {
  text-transform: uppercase;
}

.delivery-overflow {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.delivery-stages {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: white;
  padding-right: 20px;
}

.delivery-stage {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 35px 1fr;
  box-sizing: border-box;
  padding: 20px 0;
  align-items: center;
}

.delivery-stage-number {
  grid-column: 1;
  grid-row: span 2;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: #01071a4f;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.delivery-stage-title {
  text-transform: uppercase;
  font-size: 28px;
  grid-row: 1;
  grid-column: 2;
  font-weight: 600;
}

.delivery-stage-text {
  line-height: 25px;
  grid-row: 2;
  grid-column: 2;
}

@media (max-width: 1100px) {
  .delivery-bg {
    position: absolute;
    z-index: -1;
    width: 80%;
    left: 0;
    right: 0;
    top: auto;
    bottom: auto;
    margin: 0 auto;
  }

  .delivery-stages {
    margin: 0 auto;
    margin-top: 150px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: white;
    padding-right: 20px;
  }
}

@media (max-width: 800px) {
  .delivery {
    box-sizing: border-box;
    padding: 0 10px;
  }

  .delivery-bg {
    top: 2%;
  }

  .delivery-stages {
    margin-top: 80px;
    width: 100%;
    gap: 30px;
  }

  .delivery-stage {
    grid-template-columns: 15% 80%;
    gap: 20px 5%;
    grid-template-rows: 30px 1fr;
    align-items: baseline;
  }

  .delivery-stage-number {
    font-size: 32px;
    height: 60px;
    width: 60px;
  }

  .delivery-stage-title {
    font-size: 24px;
    line-height: 22px;
    align-self: self-start;
  }
}
