.catalog {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.catalog-title {
  text-transform: uppercase;
  font-size: 38px;
}

.selectors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 280px 20px;
  width: 100%;
  align-items: center;
  gap: 20px 60px;
}

.selector {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000518;
  cursor: pointer;
}

.selector::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  background: linear-gradient(#01071a00 0%, #01071a 100%);
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.selector:hover:after {
  height: 100%;
}

.selector_active.selector::after {
  height: 100%;
}

.selector_active .selector__img,
.selector:hover .selector__img {
  opacity: 0.7;
}

.selector__name {
  position: absolute;
  text-transform: uppercase;
  color: rgb(210, 207, 240);
  font-weight: 400;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}

.selector_active .selector__name {
  font-weight: 600;
  color: white;
}

.selector__img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.selector__sign {
  transition: all ease-in-out 0.3s;
  grid-column: 1;
  margin: 0 auto;
  height: 100%;
}

.catalog-window {
  width: 100%;
  height: 90vh;
  border-radius: 15px;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-top: -35px;
}

.catalog-window__header {
  width: 100%;
  min-height: 80px;
  background-color: #01071a;
  display: flex;
  align-items: center;
}

.catalog-window__title {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  margin-left: 40px;
}

.catalog-window__body {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
}

.filters {
  width: 250px;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: rgb(230, 229, 236);
}

.filters-hide-btn {
  position: absolute;
  width: 45px;
  height: 100px;
  top: 0;
  bottom: 0;
  left: 100%;
  margin: auto 0;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.filters-hide-btn-body {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: end;
  justify-content: end;
  position: absolute;
  box-sizing: border-box;
  background-color: #ff9900;
  padding: 3px;
  box-sizing: border-box;
  border: none;
  rotate: -45deg;
  right: 25px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.filters-hide-btn-img {
  width: 20px;
}

.filters__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 30px;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 30px;
}

.filters__title {
  text-transform: uppercase;
  cursor: default;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 20px;
}

.filters__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.filters__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.filters__label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  width: 210px;
  overflow: hidden;
}

.filters__select {
  height: 30px;
  border: 0;
  border-radius: 20px;
  width: 210px;
  box-sizing: border-box;
  padding: 0 5px;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.filter-buttons {
  width: 180px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.catalog-list {
  flex-grow: 1;
  height: 100%;
  min-height: 100%;
  background-color: rgb(209, 211, 219);
  overflow-y: auto;
  display: grid;
  grid-auto-rows: 270px;
  gap: 20px 30px;
  box-sizing: border-box;
  padding: 20px 40px;
  position: relative;
  z-index: 0;
}

.catalog-warning {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.catalog-item {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: 230px 40px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.catalog-item__body {
  grid-row: 1;
  grid-column: 2;
  width: 100%;
  height: 230px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.catalog-item__body_loading {
  width: 100%;
  height: 100%;
}

.catalog-item__brand {
  box-sizing: border-box;
  cursor: default;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 153, 0, 1) 0%, rgba(255, 153, 0, 0) 100%);
}

.catalog-item__brand-text {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
  rotate: -90deg;
  min-width: 200px;
}

.catalog-item__button {
  width: 100%;
  background-color: #01071a;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  grid-column: span 2;
  grid-row: 2;
}

.catalog-item__img {
  height: 140px;
  width: 100%;
  margin-top: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item__img_loading {
  height: 140px;
  margin-top: 10px;
  width: 80%;
}

.catalog-item_car-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-item__name {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: default;
  opacity: 0.8;
}

.catalog-item__price {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  letter-spacing: -1px;
  cursor: default;
}

@media (max-width: 1100px) {
  .catalog {
    width: 100%;
  }

  .selectors {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }

  .catalog-window__body {
    align-items: start;
    overflow-y: auto;
    position: relative;
  }

  .filters {
    position: sticky;
    top: 0px;
  }

  .catalog-list {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .catalog {
    box-sizing: border-box;
    padding: 0 10px;
    position: relative;
  }

  .selectors {
    width: 100%;
  }

  .catalog-window__header {
    min-height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .catalog-window__title {
    font-size: 22px;
    margin-left: 0px;
  }

  .catalog-window__body {
    position: static !important;
  }

  .filters-burger {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    background-color: white;
    justify-content: center;
    align-items: center;
  }

  .filters__body {
    height: fit-content;
  }

  .filters__title {
    width: fit-content;
  }

  .filters__list {
    width: fit-content;
    flex-grow: 0;
  }

  .filter-buttons {
    width: 220px;
  }

  .catalog-list {
    height: fit-content;
    min-height: 100%;
    align-items: center;
  }

  .catalog-warning {
    position: static;
    width: 100%;
    height: 100%;
  }

  .catalog-item {
    width: 70%;
    min-width: 300px;
  }

  .catalog-item__img {
    height: 120px;
    margin-top: 10px;
  }
}
