.exit-button {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.exit-button-burger {
  width: 50px;
  height: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: auto;
  bottom: 70px;
}

.exit-button-burger:hover,
.exit-button:hover {
  scale: 1.2;
}

.exit-icon {
  width: 100%;
}
