.project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: fit-content;
}

.project-button[disabled] {
  cursor: default;
  opacity: 0.5;
}

.project-button[disabled] span {
  cursor: default;
}

.project-button_gray {
  background-color: rgb(180, 180, 180);
}

.project-button_gray:hover:enabled {
  background-color: rgb(161, 161, 161);
}

.project-button_orange {
  background-color: #ff9900;
}

.project-button_orange:hover:enabled {
  background-color: #d45900;
}

.project-button_small {
  padding: 10px 20px;
  font-size: 14px;
  gap: 14px;
}

.project-button_medium {
  padding: 11px 30px;
  font-size: 16px;
  gap: 16px;
}

.project-button_big {
  padding: 13px 40px;
  font-size: 18px;
  gap: 18px;
}

.project-button-img_small {
  width: 16px;
}

.project-button-img_medium {
  width: 18px;
}

.project-button-img_big {
  width: 20px;
}

.project-button-img_orange {
  order: 1;
}

@media (max-width: 1100px) {
  .project-button_small {
    padding: 7px 14px;
    font-size: 12px;
    font-weight: 500;
    gap: 10px;
  }

  .project-button_medium {
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 500;
    gap: 12px;
  }

  .project-button_big {
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 500;
    gap: 14px;
  }

  .project-button-img_small {
    width: 12px;
  }

  .project-button-img_medium {
    width: 14px;
  }

  .project-button-img_big {
    width: 16px;
  }
}

@media (max-width: 800px) {
  .project-button_small {
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 500;
    gap: 14px;
  }

  .project-button_medium {
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 400;
    gap: 14px;
  }

  .project-button_big {
    padding: 15px 32px;
    font-size: 18px;
    font-weight: 400;
    gap: 14px;
  }

  .project-button-img_small {
    width: 16px;
  }

  .project-button-img_medium {
    width: 20px;
  }

  .project-button-img_big {
    width: 24px;
  }
}
