.modal-zone {
  position: fixed;
  background-color: rgba(156, 156, 156, 0.4);
  z-index: 99;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  width: 500px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-icon {
  position: absolute;
  bottom: 40px;
  right: 50px;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-icon img {
  width: 100%;
}

.auth-warning {
  position: absolute;
  bottom: 95px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: red;
  animation: error 0.4s ease-in-out;
}

@keyframes error {
  0%,
  100% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(20px);
  }
  40% {
    transform: translateX(-20px);
  }
}

.action {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: 80%;
}

.action__item {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: default;
}

.action__item_inactive {
  cursor: pointer;
  opacity: 0.5;
}

.registration,
.authorisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.registration__inputs,
.authorisation__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.registation-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.registration__input,
.authorisation__input {
  border: none;
  outline: none;
  text-align: center;
  width: 178px;
  height: 30px;
  background-color: rgb(196, 196, 196);
  border-radius: 30px;
  font-size: 15px;
  box-sizing: border-box;
}

.registration__input_denied,
.authorisation__input_denied {
  border: rgb(252, 4, 4) solid 1px;
  animation: error 0.5s;
}

@media (max-width: 800px) {
  .modal-window {
    width: 100%;
    height: fit-content;
    border-radius: 0px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    padding: 50px 20px;
  }

  .auth-warning {
    bottom: 110px;
    font-size: 13px;
    font-weight: 500;
    color: red;
  }

  .action {
    justify-content: center;
  }

  .action__item {
    font-size: 14px;
  }

  .registration,
  .authorisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
  }
}
