.cabinet-warning {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.cabinet-warning__icon {
  rotate: 90deg;
  font-size: 152px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabinet-warning__text {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 34px;
}

.cabinet {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  z-index: 2;
}

.cabinet__title {
  text-transform: uppercase;
  font-size: 32px;
}

.cabinet__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cabinet__greeting {
  font-size: 24px;
  font-weight: 500;
}

.cabinet__flow {
  width: 100%;
  height: 700px;
  background-color: rgb(240, 240, 245);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.cabinet__menu {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  justify-content: center;
  gap: 40px;
  box-sizing: border-box;
  padding: 0 40px;
  transition: none;
  z-index: 0;
}

.cabinet__menu_disabled {
  width: 100%;
  align-items: center;
}

.cabinet__button {
  text-transform: uppercase;
  width: fit-content;
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
  position: relative;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.cabinet__button_default {
  cursor: pointer;
  opacity: 0.8;
}

.cabinet__button_disabled {
  cursor: default;
  opacity: 0.3;
}

.cabinet__button_active,
.cabinet__button_default:hover {
  font-weight: 600;
  opacity: 1;
}

.cabinet__button_default::after {
  width: 0px;
  height: 1px;
  content: '';
  background-color: #000815;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.3s ease-in-out;
}

.cabinet__button_active.cabinet__button_default::after,
.cabinet__button_default:hover::after {
  width: 100%;
}

.cabinet__active-info {
  flex-grow: 1;
  max-width: 80%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  transition: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  z-index: 0;
}

.cabinet__active-info_disabled {
  padding: 0;
}

.section__title {
  font-size: 24px;
  text-transform: uppercase;
}

@media (max-width: 1100px) {
  .cabinet__menu {
    width: 30%;
    padding: 0 30px;
    z-index: 0;
  }

  .cabinet__menu_disabled {
    width: 100%;
    align-items: center;
  }

  .cabinet__button {
    font-size: 18px;
  }

  .cabinet__active-info {
    max-width: 70%;
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .cabinet {
    box-sizing: border-box;
    padding: 0 10px;
  }

  .cabinet__flow {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: column;
  }

  .cabinet__menu {
    flex-direction: row;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding: 0 40px;
    overflow-x: auto;
  }

  .cabinet__menu_disabled {
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .cabinet__menu_disabled a {
    font-size: 20px;
  }

  .cabinet__button {
    font-size: 14px;
    min-width: fit-content;
  }

  .cabinet__active-info {
    overflow-y: scroll;
    max-width: 100%;
    padding: 20px;
    gap: 20px;
  }
}
