@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  color: rgb(3, 3, 24);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}

body {
  position: relative;
}

.wrapper {
  width: 1400px;
  padding: 60px 0 420px 0;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  cursor: default;
}

button span,
button p {
  cursor: pointer;
}

button,
img {
  user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo-link {
  display: flex;
}

.header-logo {
  height: 35px;
}

.menu {
  display: flex;
  gap: 60px;
  align-items: center;
}

.nav-bar {
  display: flex;
  gap: 10px;
  text-decoration: none;
}

.phone-link,
.nav-bar__item {
  text-decoration: none;
  font-size: 15px;
  padding: 5px 10px;
  background: none;
  user-select: none;
  outline: none;
  border: none;
}

.phone-link:hover,
.nav-bar__item:hover {
  background-color: rgba(255, 166, 0, 0.2);
  border-radius: 10px;
}

.footer {
  margin-top: 120px;
  width: 100%;
  height: 300px;
  background-color: rgb(12, 13, 46);
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 50px 0;
  z-index: 0;
}

.footer__body {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
}

.footer__line {
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
  gap: 60px;
}

.social-media__link {
  width: 40px;
  height: 40px;
  position: relative;
}

.social-media__link::after {
  width: 0;
  height: 1px;
  content: '';
  background-color: white;
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.3s ease-in-out;
}

.social-media__link:hover::after {
  width: 100%;
}

.social-media__img {
  width: 100%;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.footer__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}

.footer__link::after {
  width: 0;
  height: 1px;
  content: '';
  background-color: white;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.3s ease-in-out;
}

.footer__link:hover::after {
  width: 100%;
}

.footer__text,
.footer__link {
  color: white;
}

.footer__text {
  cursor: default;
  font-size: 13px;
  opacity: 0.3;
}
