@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  color: #01071a;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 0.3s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1400px;
  padding: 60px 0 420px 0;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  min-height: 100vh;
  z-index: 1;
}

.loader {
  position: relative;
  background-color: rgb(238, 238, 238) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
}

.loader::after {
  position: absolute;
  content: '';
  background-color: rgb(255, 255, 255);
  height: 200%;
  width: 30px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  filter: blur(10px);
  animation: infinite 1s loader;
}

@keyframes loader {
  0% {
    left: -35px;
  }
  100% {
    left: 110%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(47, 47, 97);
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 26px;
}

button span,
button p {
  cursor: pointer;
}

button,
img {
  user-select: none;
}

@media (max-width: 1100px) {
  .wrapper {
    max-width: 1000px;
    padding: 60px 0px 390px 0px;
    gap: 100px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    max-width: 800px;
    padding: 30px 0px 260px 0px;
    gap: 60px;
    overflow-x: hidden;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 18px;
  }
}
